<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funhouse.mainscreenff">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AgeSelectionScreen"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NumberActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AbcActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnAlphabets"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnNumbers"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnCounting"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnWords"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnShape"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnColors"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnFruits"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnVegetables"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Learn_Animals"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DrawingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnDoodle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuizResult"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MathQuiz"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuizEnglish"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainTwoSection"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LetsLearn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuizResultEng"
            android:screenOrientation="landscape" />
    </application>

</manifest>